.symbols {
    margin-top: 3%;
    margin-left: 30%;
}
.exit {
    text-decoration: none;
    font-weight: bold;
    margin-left: 40%;
    color: white;
}
.exitButton {
    background-color: crimson;
    border-radius: 20px;
    margin-right: 90%;
}

